body{
    background-color: #18314f;
}
#logo{
    height: 100px;
    width: 300px;
    margin-left: 20%;
}
.big{
    margin-left:48%; 
    margin-top:25%;
}
.mycenter{
    margin-left: 39%;
}
.column1{
    float:left;
    width: 50%;
    padding-top:0%;
    margin: auto;
    text-align: left;
  }
#loginimg{
    width: 500px;
}
.btncolor{
    background-color: #18314f;
}
h1{
    font-size: 40px;
}
.content2{
    padding-top: 0%;
}
#mysection{
    transition: transform 0.6s ease;
}
.card{
    height:380px;
}
.column2{
    float:left;
    width: 50%;
    margin: auto;
    text-align: center;
  }
    
  .myrow{
   margin: 0 -5px;
   margin-top: ;
  }
  .myrow:after{
    content: "";
    display:table;
    clear: both;
  }
.mycontainer{
    padding: 5%;
    margin: auto;
    margin-top:5%; 
    width:80%;
    background-color:white;
    height:600px;
    overflow-y: hidden;
    border-radius: 20px;
}
img{
    height:500px;
    width: 600px;
}