* {
    margin:0;
   padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html, body {
    background-color: #fff;
    color: #555;
    font-family: 'Lato','Arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
	overflow-x: hidden;
}

.clearfix {zoom: 1}
.clearfix:after {
	content: '.';
	clear: both;
	display: block;
	height: 0;
	visibility: hidden;
}

.row {
    max-width: 1140px;
    margin: 0 auto;
}

section {
	padding: 80px 0px;
}

.box {
	padding:1%;
}


/*----------------HEADINGS----------------*/

h1, h2, h3 {
	font-weight: 300;
	text-transform: uppercase;
}

h1 {
    margin-top: 0px;
	margin-bottom: 20px;
	color: #fff;
	font-size: 240%;
	word-spacing: 4px;
	letter-spacing: 1px;
}

h2 {
	font-size: 180%;
	word-spacing: 2px;
	text-align: center;
	margin-bottom: 30px;
	letter-spacing: 1px;
}

h3 {
	font-size: 110%;
	margin-bottom: 15px;
}

h2:after {
	display: block;
	height: 2px;
	background-color: #18314f;
	content: " ";
	width: 100px;
	margin: 0 auto;
	margin-top: 30px;
}

/*----------------BUTTONS-----------------*/

.btnsmall {
    background-color: inherit;
    color: #000;
    text-decoration: none;
    font-size: 20px;
    border: 2px solid #000;
    margin-left: 10px;
    display: inline-block;
    padding: 2px;
}

/*----------------TABLES-----------------*/

table {
    border:none;
    width: 100%;
    border-collapse: collapse;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

th, td {
    padding: 15px;
    text-align: left;
    vertical-align: middle;
    border: none;
    border-bottom: 1px solid #aaaaaa;
}

th {
    text-align: center;
}

tr:hover {background-color: rgba(24, 49, 79, 0.21);}

/*-----------------MEALS-----------------*/

.section-meals {
	padding: 0;
}

.meals-show {
	list-style: none;
	width: 100%;
}

.meals-show li {
	display: block;
	float: left;
	width:25%;
}

.meal-photo {
	width:100%;
	margin: 0;
	overflow: hidden; 
	background-color: #000;
}

.meal-photo img {
	width: 100%;
	height: auto;
	-webkit-transform: scale(1.15);
	transform: scale(1.15);
	-webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
	transition: opacity 0.5s, -webkit-transform 0.5s;
	transition: transform 0.5s, opacity 0.5s;
	transition: transform 0.5s, opacity 0.5s, -webkit-transform 0.5s;
	opacity: 0.7;
}

.meal-photo img:hover {
	opacity: 1;
	-webkit-transform: scale(1.03);
	transform: scale(1.03);
}

/*---------------CANTEENS---------------*/

.section-cant {
	padding: 1%;
}

.cities-box img {
	width: 100%;
	height: auto;
}

.cities-box h3 {
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
	margin:0;
}

.cities-box p {
	padding: 0px;
	font-size: 90%;
	font-weight: 100;
	width: 80%;
	text-align: left;
	float: right;
}


.r1, .r2, .r3 {
    display: inline-block;
    width:100%;
}

.cities-box div {
	padding-bottom: 10px;
}

.cities-box {
	padding: 2%;
	-webkit-transform: scale(0.95);
    transform: scale(0.95);
	opacity: 0.9;
	border: 2px solid white;
	background-color: white;
    color:none;
	transition: transform 0.5s, opacity 0.5s, border 0.5s, color 0.5s;
}

.cities-box:hover, .cities-box:active {
	-webkit-transform: scale(1.0);
	transform: scale(1.0);
	opacity: 1;
	color: #18314f;
	background-color: rgba(215, 217, 219, 0.33);
	border: 2px solid rgba(215, 215, 219, 0.33); 
}

.cant {
    transform: scale(0.95);
    color: #18314f;
    transition: transform 0.5s,  color 0.5s, background-color 0.5s;
}

.cant:hover, .cant:active {
    background-color: #18314f;
    color: white;
    transform: scale(1.0);
}

/*----------SECTION PLANS----------*/

.section-plans {
	background-color: rgba(24, 49, 79, 0.1);
}

.plan-box {
	background-color: #fff;
	border-radius: 5px;
	width: 90%;
	margin-left: 5%;	
    -webkit-box-shadow: 4px 4px 10px rgba(230, 126, 34, 0.15);	
    box-shadow: 4px 4px 10px rgba(230, 126, 34, 0.15);
}

.plan-box div {
	padding: 5px;
	border-bottom: 1px solid rgba(230, 126, 34, 0.20);
    font-size: 90%;
}

.plan-box div:first-child {
    background-color: rgba(230, 126, 34, 0.09);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.plan-box div:last-child {
    text-align: center;
    border: 0;
}

.plan-price {
	font-size: 300%;
	margin-bottom: 10px;
    font-weight: 100;
    color: #e67e22;
}

.plan-price span {
    font-size:30%;
    font-weight: 300;
}

.plan-meal {
    font-size: 80%
}

.plan-box ul {
    list-style: none;
}

.plan-box ul li {
    padding: 5px 0px;
}

/*--------------FORM--------------*/

.section-form {
    width: 60%;
    margin: 0 auto;
}

input[type=text], input[type=email], select, textarea {
    width: 100%;
    padding: 7px;
    border-radius: 3px;
    border: 1px solid #ccc;
    background-color: rgba(24, 49, 79, 0.06);
    font-size: 80%;
}

form { 
    font-size: 80%; 
}

textarea {
    height: 100px;
}

input[type=checkbox] {
    margin: 10px 5px 10px 0px;
}

*:focus {
    outline: none;
}

.form-box {
    width: 50%;
    position: absolute;
    top: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.9);
    z-index: 10;
    height: 100%;
    padding-top: 0.5%;
    padding-left: 1%;
    padding-right: 1%;
}
